*{
    padding: 0;
    margin: 0;
}

/* header section */

header{
    background-color:black;
    height: 5em;
}
img{
    margin-left: 14px;
    margin-top: 2px;
}
.head-tag{
    float: right;
    margin-top: 44px;
    margin-right: 50px;
}
.head-tag a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 9px;
}
.head-tag a:hover{
    background-color:#44c508 ;
    color: black;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.myMargin{
    margin: 20px;
}

.sub-head{
    font: bold 50px "Trebuchet MS"  ;
    text-align: center;
   
}

/* image */
img{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;

}
.sub-heads{
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
}
.sub-heads h5{
    font: bold 40px "arial"  ;
    text-align: center;
    color: rgb(19, 57, 128);
    list-style: spacing 20px;
}
.sub-heads p{
    text-align: justify;
}
.sub-heads h2{
    color: rgb(0, 41, 0);
    text-align: center;
}
.sub-heads h6{
    color: brown;
    font-weight: bold;
}